{% extends "base.html" %}



{% block back %}
    <a href="/" data-role="button" data-icon="arrow-l" data-iconpos="notext">返回</a>
{% endblock %}



{% block title %}
    Taomarks
{% endblock %}


{% block option %}
    <a href="/add" data-role="button" data-icon="plus" data-iconpos="notext">添加</a>
{% endblock %}


{% block content %}
      <ul data-role="listview"  data-inset="true" data-filter="true" data-filter-placeholder="Search..">
        {% for b in bookmarks %}
            <li>
                <a href="{{ b.url }}" target="_blank">
                    {{ b.name }}
                    <span class="ui-li-count">{{ b.url }}</span>
                </a>
            </li>
        {% endfor %}
      </ul>
{% endblock %}


