{% extends "base.html" %}




{% block title %}
    30周年同学聚会
{% endblock %}


{% block content %}

    <div class="qrcode_apple" style="width:0px;height:0px;overflow: hidden;">
        <img src="/static/share.png">
    </div>

    <p>
        <a href="/join/" data-role="button" data-ajax="false">我要报名</a>
    </p>


    <div class="activity">
        <h2>活动一</h2>
        <p>
           内容: 2016年5月6日晚餐 AA制
        </p>
        <p>
           时间: 5月6日 18:00 (13:00开始进场)
        </p>
        <p>
           地点: 市区, 暂定澳门路红子鸡店
        </p>
    </div>

    <div class="activity">
        <h2>活动二</h2>
        <p>
           内容: 5月7日农家乐 AA制
        </p>
        <p>
           时间: 5月7日 全天
        </p>
        <p>
           地点: 郊区, 暂定嘉定
        </p>
    </div>

    <div class="remark">
        <h2>备注</h2>
        <p>
            1. 报名时间4月10日前,以便统计人员及安排正式地点
        </p>
        <p>
            2. 外地同学如需住宿请勾选,其费用由活动经费分摊
        </p>
        <p>
            3. 活动负责人: 周志康 冯国平
        </p>
    </div>

    <p>
        <a href="/list/persons/" data-role="button" data-ajax="false" class="blue">查看报名名单</a>
    </p>

{% endblock %}

