{% extends "base.html" %}



{% block back %}
    <a href="/" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-ajax="false">返回</a>
{% endblock %}



{% block title %}
    活动报名
{% endblock %}


{% block option %}
    <a href="#" data-role="button" data-icon="arrow-r" onclick="$('#submit').click()">提交</a>
{% endblock %}


{% block content %}
<form method="post" action="./" enctype="multipart/form-data" data-ajax="false">

    {% if msg %}
        <p class="msg">{{ msg }}</p>
    {% endif %}

    {% if success %}

        <h1 class="msg">报名成功,谢谢~</h1>

        <a href="/list/persons/" data-role="button" data-ajax="false" class="blue">查看报名名单</a>

    {% else %}

        <div data-role="fieldcontain">

            <fieldset data-role="controlgroup">
                <legend>请选择要报名的项目:</legend>
                {% for category, category_display in category_choice %}
                    <label for="{{ category }}">{{ category_display }}</label>
                    <input type="checkbox" name="category" id="{{ category }}" value="{{ category }}">
                {% endfor %}
            </fieldset>


            <p><input type="text" name="name"  placeholder="请输入您的姓名"></p>

            <p><input type="text" name="phone_num" placeholder="联系方式"></p>

            <p><input type="text" name="num" placeholder="所在地(选填)"></p>

            <p>
                <label for="pic">请上传一张您的近期照片:</label>
                <input type="file" name="pic" id="pic">
            </p>

            <p><input type="submit" value="提交" id="submit"></p>

        </div>

    {% endif %}

</form>

{% endblock %}


